*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}
@font-face {
    font-family: "Logo";
    src: url('/assest/font/EduAUVICWANTHand-VariableFont_wght.ttf') format('truetype');
}
/* Color design */
:root{
    --primary: rgba(22, 22, 22);
    --primary1: rgba(22, 22, 22, 0.793);
    --primary2: rgba(244, 242, 242, 0.845);
    --green:rgb(0, 221, 136);
    --green1:rgb(17, 242, 156);
    --green2:rgb(4, 188, 117);
    --green3: rgb(27, 188, 16);
}

body{
   background-color: #171614;
   overflow-x: hidden;
}
/* Header start */
header{
    width: 100vw;
    padding: 20px;
    position: fixed;
    background-color: var(--primary1);
    backdrop-filter: blur(5px);
    z-index: 99;
    /* border-bottom: 1px solid var(--green3); */
}
body::before{
    content: '';
    display: block;
    height: 10px;
    /* width: 100%; */
    background-color: var(--green);
    position: fixed;
    z-index: 100;
    animation: scroll;
    animation-timeline: scroll();
}
@keyframes scroll{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
.navbar{
    /* color: var(--primary2); */
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* position: fixed;
    z-index: 99; */
}
.nav-logo{
    color: var(--primary2);
    font-family: "Pacifico", cursive;
    font-weight: 10;
    font-style: normal;
    letter-spacing: 3px;
    transform: translateX(-20px);
}
.nav-logo h1{
    
}
.nav-logo h1 span{
    color: var(--green3);
}
.nav{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.nav a{
    color: var(--primary2);
    font-size: 18px;
    transform: translateX(-20px);
    opacity: 0;
}
.nav a:hover{
    color: var(--green);
    /* border-bottom: 1px solid green; */
}
.nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem ;
    border-bottom: 0.1rem solid var(--green);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.nav a:hover::after{
    transform: scaleX(0.8);
}
.extra{
    display: none;
    /* display: flex; */
    flex-direction: column;
}
.extra span{
    margin: 3px;
    width: 25px;
    height: 2px;
    background-color: var(--primary2);
}
.extra:hover span{
    background-color: var(--green);
}
#menu{
    display: none;
}
/* Header end*/

/* Hero start */
.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient((250deg), rgba(0, 221, 136, 0.184), rgba(22, 22, 22, 0.31)); */
}
.hero main{
   width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   /* background-color: var(--primary2); */
   /* animation: scrollhero; */
   animation-timeline: scroll();
}
@keyframes scrollhero{
    0%{
        transform: translateX(0);
    }
    70%{
        transform: translateX(-1000px);
    }
}
.left{
    border-left: 3px solid var(--green);
   color: var(--primary2);
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 400px;
   height: 200px;
   padding-left: 20px;
   /* background-color: aliceblue; */
   font-family: sans-serif;
}
.left h4{
    font-size: 20px;
}
.left h1{
    font-size: 50px;
}
.left a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green);
    width: 130px;
    height: 30px;
    color: var(--primary);
    transition: 0.2s;
    border-radius: 10px;
}
.left a:hover{
   background-color: transparent;
   border: 2px solid var(--green);
   color: #fff;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background-color: var(--green);
    animation: profile 5s linear infinite;   
    box-shadow: 1px 1px 10px var(--primary2); 

}
.right img{
    width: 250px;
    animation: profileimg 3s infinite;
    filter: drop-shadow(1px 1px 10px var(--primary1));
}
@keyframes profile{
    0%{
        border-radius: 50% 10% ;
    }
    50%{
        border-radius:10% 50%;
    }
    100%{
        border-radius: 50% 10% ;
    }
}
@keyframes profileimg{
    0%{
        width: 250px;
    }
    50%{
        width: 260px;
    }
    100%{
        width: 250px ;
    }
}

/* Hero end */


/* About Start */
.about{
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    transition: ;
}
.about main{
    display: flex;
    color: rgba(255, 255, 255, 0.497);
    width: 70%;
    padding: 10px;
}

.about img{
    width: 270px;
    opacity: 0.8;
    margin-top: 20px;
}
.about main .tentang{
    padding: 15px;
    margin-top: 10px;
}
.tentang h1 span{
    color: var(--green);
}
.about main .tentang p{
    /* border: 1px solid var(--green); */
    padding: 10px;
}
.about .tentang h1{
    font-size: 35px;
    animation: scrollH;
    animation-timeline: scroll();
}
@keyframes scrollH{
    0%{
        opacity: 0;
        transform: translateX(5000px);
     }
     15%{
        opacity: 0.5;
     }
     18%{
        opacity: 0.6;
     }
     19%{
        opacity: 0.7;
     }
     20%{
         opacity: 1;
         transform: translateX(0);
        }
}
.about .tentang p{
    font-size: 18px;
    margin-top: 20px;
    line-height: 2;
    animation: scrollabout;
    animation-timeline: scroll();
}
@keyframes scrollabout
{
 0%{
    opacity: 0;
    transform: translateX(5000px);
 }
 15%{
    opacity: 0.5;
 }
 18%{
    opacity: 0.6;
 }
 19%{
    opacity: 0.7;
 }
 30%{
     opacity: 1;
     transform: translateX(0);
    }
}
/* About End */
/* Portofolio start */
.project{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary2);
    font-family: sans-serif;
    cursor: pointer;
    padding: 1.5rem 7%;
}
.project h1{
    font-size: 30px;
}
.project main{
    display: flex;
    padding: 20PX;
    gap: 20PX;
    /* flex-direction: column; */
}
.project h1:nth-child(1){
    font-size: 40px;
}
.project main div .feather{
    width: 56px;
}
.project main div{
    background-color: var(--green3);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    color: var(--primary1);
    text-align: center;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    padding: 15px;
}
.project main div:nth-child(3){
    animation: scrollP3;
    animation-duration: 3s;
    animation-timeline: scroll();
    padding: 13px;
}
@keyframes scrollP3{
    50%{
        transform: translateX(10000px);
        opacity: 0;
    }
    51%{
        transition: 1s;
        transform: translateX(180px);
    }
    52%{
        transition: 1s;
        transform: translateX(160px);
    }
    53%{
        transition: 1s;
        transform: translateX(140px);
    }
    54%{
        transition: 1s;
        transform: translateX(120px);
    }
    55%{
        transition: 1s;
        transform: translateX(100px);
    }
    56%{
        transition: 1s;
        transform: translateX(80px);
    }
    57%{
        transition: 1s;
        transform: translateX(60px);
    }
    58%{
        transition: 1s;
        transform: translateX(40px);
    }
    59%{
        transition: 1s;
        transform: translateX(20px);
    }
    60%{
        opacity: 1;
        transform: translateX(-20px);
    }
  
    65%{
        transition: 1s;
        transform: translateX(0);
    }

    
}
@keyframes scrollP1{
    50%{
        transform: translateX(-10000px);
        opacity: 0;
    }
    51%{
        transition: 1s;
        transform: translateX(-180px);
    }
    52%{
        transition: 1s;
        transform: translateX(-160px);
    }
    53%{
        transition: 1s;
        transform: translateX(-140px);
    }
    54%{
        transition: 1s;
        transform: translateX(-120px);
    }
    55%{
        transition: 1s;
        transform: translateX(-100px);
    }
    56%{
        transition: 1s;
        transform: translateX(-80px);
    }
    57%{
        transition: 1s;
        transform: translateX(-60px);
    }
    58%{
        transition: 1s;
        transform: translateX(-40px);
    }
    59%{
        transition: 1s;
        transform: translateX(-20px);
    }
    60%{
        opacity: 1;
        transform: translateX(20px);
    }
  
    65%{
        transition: 1s;
        transform: translateX(0);
    }    
}
.project main div:nth-child(2){
    animation: scrollP2;
    animation-timeline: scroll();
}
@keyframes scrollP2{
    50%{
        opacity: 0;
    }
    65%{
        opacity: 1;
    }
}
.project main div:nth-child(1){
    animation: scrollP1;
    animation-timeline: scroll();
}
.project main div:hover{
    border: 3px solid var(--green3);
    background-color: var(--primary1);
    color: var(--green3);
}
/* Portofolio end */

/* contact start */
.kontak{
    width: 100%;
    padding: 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    flex-direction: column;
}
.kontak main{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    width: 100%;
    height: 500px;
    animation: animkon;
    animation-timeline: scroll();
    /* transform: scale(0); */
}
@keyframes animkon{
0%{
    transform: scale(0);
}
80%{
    transform: scale(0.1);
}
92%{
    transform: scale(0.2);
}
93%{
    transform: scale(0.3);
}
94%{
    transform: scale(0.4);
}
95%{
    transform: scale(0.5);
}
96%{
    transform: scale(0.6);
}
97%{
    transform: scale(0.7);
}
98%{
    transform: scale(0.8);
}
99%{
    transform: scale(0.9);
}
100%{
    transform: scale(1);
}
}
.kontak h1{
    color: var(--primary2);
    font-size: 30px;
}
.kontak h1 span{
    color: var(--green3);
}
.kontak main .kiri input{
    margin: 10px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary);
    color: var(--primary2);
    font-size: 18px;
    border: 1px solid var(--green3);
    outline: none;
    padding: 5px;
}
.kontak .kiri{
    display: flex;
    flex-direction: column;
}
#pesan {
    margin-top: 10px;
    font-size: 18px;
    color: var(--primary2);
    border-radius: 10px;
    width: 300px;
    height: 150px;
    border: 1px solid var(--green3);
    outline: none;
    background-color: var(--primary);
    vertical-align: top;
    padding: 10px;
    text-align: center; 
    box-sizing: border-box;
    text-align: start;
}
.kanan{
    padding: 5px;
}
.kanan button{
    width: 100px;
    height: 30px;
    background-color: var(--green3);
    margin-top: 5px;
    border-radius: 5px;
}
.kanan button:hover{
    background-color: var(--primary);
    color: var(--primary2);
    border: 1px solid var(--green3);
}

/* contact end */

/* Media Queries */
@media (max-width: 600px) {
    /* Header start */
    .nav-logo h1{
        font-size: 20px;
        padding: 10px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .nav {
        width: 200px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        left: -150px;
        top: 90px;
        position: absolute;
        height: 300px;
        transition: 0.7s;
        overflow-y: hidden;
        opacity: 0;
        z-index: -5;
        backdrop-filter: blur(10px);
    }
    .extra{
        display: flex;
        /* transform: translateY(-20px); */
    }
    .nav.active{
       left: 0;
       opacity: 1;
       background-color: var(--primary1);
    }
    #menu{
        color: var(--primary2);
    }
    #menu:hover{
        color: var(--primary2);
    }
    /* Header end */
    
    /* Hero start */
    .hero main{
        flex-direction: column;
        /* justify-content: center; */
        gap: 80px;
        /* background-color: red; */
    }
    .left{
        height: 150px;
        margin-left: 130px;
        border-left: none;
        border-left: 3px solid var(--green);
    }
    .left h4{
        font-size: 15px;
    }
    .left h1{
        font-size: 30px;
    }
    .left h2{
        font-size: 15px;
    }
    .right{
        width: 200px;
        height: 200px;
    }
   .hero main .right #profile{
        width: 10px;
    }
    /*Hero end */
        /* ABout start */
.about main{
   flex-direction: column;
   width: 100%;
}
.about img{
    width: 250px;
    animation: imagescroll;
    animation-timeline: scroll();
}
@keyframes imagescroll{
    0%{
        opacity: 0;
        transform: translateX(-5000px);
     }
     15%{
        opacity: 0.5;
     }
     18%{
        opacity: 0.6;
     }
     19%{
        opacity: 0.7;
     }
     20%{
         opacity: 1;
         transform: translateX(0);
        }
}
.about .image{
    /* background-color: aqua; */
    text-align: center;
}
/* ABout End */
/* Project start */
.project main{
display: flex;
flex-direction: column;
}
.project main div{ 
        width: 100%;
        height: 200px;
        overflow: hidden;
        font-size: 14px;
    }
    /* Project end */
    /* contact start */
    .kontak main{
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }
    /* contact end */
}

@media  (max-width:900px){
    .nav-logo{
        font-size: 18px;
    }
    .nav a{
        font-size: 18px;
    }
    .navbar{
        display: flex;
        justify-content: space-between;
    }
    .nav {
        /* background-color: aqua; */
        width: 200px;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        left: -150px;
        top: 90px;
        position: absolute;
        height: 300px;
        transition: 0.7s;
        overflow-y: hidden;
        opacity: 0;
        z-index: -5;
    }
    .nav.active{
        left: 0;
        opacity: 1;
        background-color: var(--primary1);
    }
    /* .extra{
        display: block;
    } */
    #menu{
        color: var(--green);
    }
    #menu:hover{
        color: var(--primary2);
    }
    .hero main{
        /* flex-direction: column; */
        /* justify-content: center; */
        padding: 20px;
    }
    .left h4{
        font-size: 15px;
    }
    .left h1{
        font-size: 30px;
    }
    .left h2{
        font-size: 15px;
    }
    .right{
        width: 200px;
        height: 200px;
    }
    .right img{
        width: 100px;
    }
        /* ABout start */
        .about main{
            flex-direction: column;
            width: 100%;
         }
         .about img{
            /* border: 1px solid var(--green); */
             width: 250px;
         }
         .about .image{
             /* background-color: aqua; */
             text-align: center;
         }

    /* ABout End */
    .kontak main{
        display: flex;
        flex-direction: column;
        /* background-color: red; */
    }
}
